@media (max-width:1400px) {
    
}
@media (max-width:1200px) {
    .titel {
        margin-top: 165px;
    }
    
}
@media (max-width:992px) {
    .titel {
        text-align: center;
    }
    .row > * {
        
        text-align: center;
    }
    .box {
        margin-bottom: 48px;
    }
}
@media (max-width:768px) {
    
}
@media (max-width:576px) {
    .photos {
        width: 106%;
    }
}
@media (max-width:350px) {
    
}